<h1>About</h1>

<p>
  Diese Datenvisualisierung wurde von Linda Hoch und Fabian Hüni im Rahmen der
  Bachelorvorlesung
  <a
    href="https://www.digitale-nachhaltigkeit.unibe.ch/studium/open_data_veranstaltung/fruehjahrssemester_2023/index_ger.html"
    target="_blank"
  >
    Durchführung eines Open Data Projekts
  </a>
  der Forschungsstelle Digitale Nachhaltigkeit an der Universität Bern im
  Frühjahrssemester 2023 umgesetzt. Betreut wurde unser Team durch Daria Moser
  von der
  <a
    href="https://www.baselland.ch/politik-und-behorden/direktionen/finanz-und-kirchendirektion/statistisches-amt/ogd"
    target="_blank"
  >
    der Fach- und Koordinationsstelle Open Government Data (OGD) des Kantons
    Basel-Landschaft.
  </a>
</p>

<p>
  Die App wurde mit
  <a href="https://d3js.org/" target="_blank">D3.js</a>,
  <a href="https://angular.io/" target="_blank">Angular</a> und
  <a href="https://primeng.org/" target="_blank">PrimeNG</a>
  entwickelt. Der Source-Code ist unter einer freien Lizenz auf
  <a
    href="https://github.com/fabianHueni/data-visualisation-basel-land"
    target="_blank"
  >
    GitHub
  </a>
  zugänglich.
</p>

<h2>Developers</h2>
<div class="flex">
  <div class="contact-person">
    <a href="mailto:linda.hoch@students.unibe.ch">
      <i class="pi pi-envelope"></i>
    </a>
    <p>Linda Hoch <br />BSc Computer Science</p>
  </div>
  <div class="contact-person">
    <a href="mailto:fabian.hueni@students.unibe.ch">
      <i class="pi pi-envelope"></i>
    </a>
    <p>Fabian Hüni <br />BSc Computer Science</p>
  </div>
</div>
