<div class="chart">
  <div class="chart-info">
    <h2>Zeitliche Entwicklung der erwerbstätigen Bevölkerung</h2>
    <p>
      Diese Grafik zeigt die zeitliche Entwicklung des
      <span
        class="text-underline"
        pTooltip="Das Verhältnis der unter 20-Jährigen zur
        Bevölkerung im Alter von 20 bis 64 Jahren."
        tooltipPosition="bottom"
        >Jugend-</span
      >,
      <span
        class="text-underline"
        pTooltip="Das Verhältnis der über 64-Jährigen zur
        Bevölkerung im Alter von 20 bis 64 Jahren"
        tooltipPosition="bottom"
        >Alters-</span
      >
      und
      <span
        class="text-underline"
        pTooltip="Das Verhältnis der unter 20-Jährigen und
        über 64-Jährigen zur Bevölkerung im Alter von 20 bis 64 Jahren."
        tooltipPosition="bottom"
        >Gesamtquotient</span
      >. <br />
    </p>
  </div>
  <app-legend
    *ngIf="this.data.size > 0"
    class="chart-info"
    [lineData]="data"
  ></app-legend>
  <div class="flex justify-content-center">
    <i
      *ngIf="isLoading"
      class="pi pi-spin pi-spinner"
      style="font-size: 2rem"
    ></i>
  </div>

  <app-line-chart *ngIf="this.data.size > 0" [data]="data"></app-line-chart>
</div>
