<div class="chart">
  <div class="chart-info">
    <h2>Zeitliche Entwicklung des Medianalters</h2>
    <p>
      Das Medianalter ist das Alter, bei dem die eine Hälfte der Bevölkerung
      jünger und die andere Hälfte älter ist. Das Medianalter dient als Kennzahl
      für die Alterung der Bevölkerung.
    </p>
  </div>
  <app-legend
    class="chart-info"
    *ngIf="data.size > 0"
    [lineData]="data"
  ></app-legend>
  <div class="flex justify-content-center">
    <i
      *ngIf="isLoading"
      class="pi pi-spin pi-spinner"
      style="font-size: 2rem"
    ></i>
  </div>
  <app-line-chart *ngIf="data.size > 0" [data]="data"></app-line-chart>
</div>
