<h1>
  Demographie Gemeinde
  <p-dropdown
    [options]="municipalities"
    optionLabel="name"
    [(ngModel)]="selectedMunicipality"
    [filter]="true"
    filterBy="name"
  ></p-dropdown>
</h1>

<p></p>

<app-key-numbers [municipalityId]="selectedMunicipality.id"></app-key-numbers>

<p-card>
  <app-heatmap [id]="selectedMunicipality.id"></app-heatmap>
</p-card>

<div class="chart-grid" [style]="'height: 100%'">
  <p-card>
    <app-development-quotients
      [selectedMunicipalityId]="selectedMunicipality.id"
    ></app-development-quotients>
  </p-card>

  <p-card>
    <app-development-median
      [selectedMunicipalityId]="selectedMunicipality.id"
    ></app-development-median>
  </p-card>
</div>
