<h1>Demographie Gemeinde {{ selectedMunicipality.name }}</h1>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus amet
  asperiores at eius facere incidunt natus neque numquam placeat porro quidem
  quod, recusandae reiciendis sapiente sunt tempore, velit voluptates!
</p>

<div class="flex justify-content-between mb-6">
  <p-dropdown
    [options]="municipalities"
    optionLabel="name"
    [(ngModel)]="selectedMunicipality"
    [filter]="true"
    filterBy="name"
  ></p-dropdown>
</div>

<!-- <p-card>
  <app-heatmap [id]="selectedMunicipality.id"></app-heatmap>
</p-card> -->

<p-card>
  <app-histogram [id]="selectedMunicipality.id"></app-histogram>
</p-card>
