<h1>
  Demographie Gemeinde
  <p-dropdown
    [options]="municipalities"
    optionLabel="name"
    [(ngModel)]="selectedMunicipality"
    [filter]="true"
    filterBy="name"
  ></p-dropdown>
</h1>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus amet
  asperiores at eius facere incidunt natus neque numquam placeat porro quidem
  quod, recusandae reiciendis sapiente sunt tempore, velit voluptates!
</p>

<!-- <app-key-numbers [municipalityId]="selectedMunicipality.id"></app-key-numbers> -->

<!-- <p-card>
  <app-heatmap [id]="selectedMunicipality.id"></app-heatmap>
</p-card> -->

<p-card>
  <app-histogram [id]="selectedMunicipality.id"></app-histogram>
</p-card>
