<h1>Daten</h1>

<p>
  Diese Visualisierung basiert auf den unter einer freien Lizenz (Open Data)
  verfügbaren Bevölkerungsdaten des Kanton Basel-Land. Die App verwendet den
  Datensatz
  <a
    href="https://data.bl.ch/explore/dataset/10010/table/?sort=-jahr"
    target="_blank"
  >
    Bevölkerungsbestand nach Geschlecht, Alter, Gemeinde und Jahr (ab 2003)
  </a>
  welcher auf dem Open Government Data Portal des Kantons Basel-Land verfügbar
  ist. Die Daten wurden im April 2022 heruntergeladen und nicht verändert.
  Einzig die Dateigrösse wurde reduziert, indem nicht benötigte Spalten entfernt
  wurden. Der für diese App gekürzte Datensatz steht
  <a href="./assets/data/bevoelkerung_nach_gemeinde_edited.csv">hier</a>
  als CSV-Datei zum Download bereit.
</p>
<h2>Disclaimer</h2>
<p>
  Die in dieser Visualisierung angezeigten Daten wurden nach bestem Wissen und
  Gewissen berechnet und dargestellt. Der Fokus dieser App liegt klar auf der
  Visualisierung und nicht der aufbereitung und verarbeitung der Daten. Für die
  Richtigkeit der visualisierten Daten wird keine Gewähr übernommen.
</p>
