<h1>Demographie Kanton Basel-Land</h1>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus amet
  asperiores at eius facere incidunt natus neque numquam placeat porro quidem
  quod, recusandae reiciendis sapiente sunt tempore, velit voluptates! Lorem
  ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cupiditate,
  harum itaque nulla quae ullam voluptatum. Aliquam architecto aut ea, expedita
  explicabo ipsum odit praesentium quo velit voluptatem. Harum, nam.
</p>

<p-card>
  <div class="flex justify-content-between">
    <p-dropdown [options]="years" [(ngModel)]="selectedYear"></p-dropdown>
    <p-selectButton
      [options]="datasets"
      [(ngModel)]="selectedDataset"
      optionLabel="label"
    ></p-selectButton>
  </div>

  <!--  <p-slider
    [(ngModel)]="selectedYear"
    [step]="1"
    [min]="2003"
    [max]="2022"
  ></p-slider>-->
  <app-choropleth
    [tooltipRef]="selectedDataset.tooltipRef()"
    [colorInterpolation]="getColorScheme"
    [changSubject]="changingValue"
  ></app-choropleth>

  <!-- Templates of tooltips for different data sets-->
  <ng-template #medianTooltip let-tooltipData="data">
    <b>{{ tooltipData?.properties.name }} </b>
    <br />
    Medianalter:
    {{ this.getDataByShape(tooltipData) }} Jahre
  </ng-template>

  <ng-template #seniorsTooltip let-tooltipData="data">
    <b>{{ tooltipData?.properties.name }} </b>
    <br />
    Seniorenanteil:
    {{ this.getDataByShape(tooltipData)?.percentageAgeGroup | percent }} <br />
    Total Senioren:
    {{ this.getDataByShape(tooltipData)?.totalAgeGroup }}<br />
    Total Einwohner:
    {{ this.getDataByShape(tooltipData)?.total }}
  </ng-template>

  <ng-template #childrenTooltip let-tooltipData="data">
    <b>{{ tooltipData?.properties.name }} </b>
    <br />
    Kinderanteil:
    {{ this.getDataByShape(tooltipData)?.percentageAgeGroup | percent }} <br />
    Total Kinder:
    {{ this.getDataByShape(tooltipData)?.totalAgeGroup }}<br />
    Total Einwohner:
    {{ this.getDataByShape(tooltipData)?.total }}
  </ng-template>
</p-card>
