<h1>Demographie Kanton Basel-Land</h1>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus amet
  asperiores at eius facere incidunt natus neque numquam placeat porro quidem
  quod, recusandae reiciendis sapiente sunt tempore, velit voluptates! Lorem
  ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cupiditate,
  harum itaque nulla quae ullam voluptatum. Aliquam architecto aut ea, expedita
  explicabo ipsum odit praesentium quo velit voluptatem. Harum, nam.
</p>

<p-card class="flex">
  <p-dropdown [options]="years" [(ngModel)]="selectedYear"></p-dropdown>
  <!--  <p-slider
    [(ngModel)]="selectedYear"
    [step]="1"
    [min]="2003"
    [max]="2022"
  ></p-slider>-->
  <app-choropleth [data]="populationData"></app-choropleth>
</p-card>
