<h1>Demographie Kanton Basel-Land</h1>

<p>
  Demographische Indikatoren sind wichtige Merkmale zur Abklärung von
  Infrastruktur- und Dienstleistungsbedürfnissen in den Gemeinden. Die hier
  aufbereiteten Daten können einen Beitrag dazu leisten, dass private (z.B.
  Betreiber von Alters- und Pflegeeinrichtungen etc.) und öffentliche
  Institutionen (Gemeinden, Kanton etc.) demographische Veränderungen besser
  einschätzen und ihre Planung entsprechend anpassen können (betr.
  Altersversorgung, Beratungsangebote, Schul- und Freizeitinfrastruktur,
  Standortförderung etc.). Selbstverständlich dürfen diese Daten nicht als
  alleinige Planungsgrundlage genommen werden, sondern müssen je nach Thema mit
  weiteren Daten ergänzt werden.
</p>

<p-card>
  <div class="flex justify-content-between mb-6">
    <p-dropdown [options]="years" [(ngModel)]="selectedYear"></p-dropdown>
    <p-selectButton
      [options]="datasets"
      [(ngModel)]="selectedDataset"
      optionLabel="label"
    ></p-selectButton>
  </div>

  <div class="filters flex" *ngIf="selectedDataset.value == 'age-buckets'">
    <span class="p-float-label">
      <p-inputNumber
        inputId="min-age"
        [(ngModel)]="minAge"
        [min]="0"
        [max]="200"
      >
      </p-inputNumber>
      <label htmlFor="min-age">Minimales Alter</label>
    </span>
    <span class="p-float-label">
      <p-inputNumber
        inputId="max-age"
        [(ngModel)]="maxAge"
        [min]="0"
        [max]="200"
      >
      </p-inputNumber>
      <label htmlFor="max-age">Maximales Alter</label>
    </span>
  </div>

  <!--  <p-slider
    [(ngModel)]="selectedYear"
    [step]="1"
    [min]="2003"
    [max]="2022"
  ></p-slider>-->
  <app-choropleth
    [tooltipRef]="selectedDataset.tooltipRef()"
    [colorInterpolation]="getColorScheme"
    [changSubject]="changingValue"
  ></app-choropleth>
</p-card>

<!-- Templates of tooltips for different data sets-->
<ng-template #medianTooltip let-tooltipData="data">
  <b>{{ tooltipData?.properties.name }} </b>
  <br />
  Medianalter:
  {{ this.getDataByShape(tooltipData) }} Jahre
</ng-template>

<ng-template #seniorsTooltip let-tooltipData="data">
  <b>{{ tooltipData?.properties.name }} </b>
  <br />
  Seniorenanteil:
  {{ this.getDataByShape(tooltipData)?.percentageAgeGroup | percent }} <br />
  Total Senioren:
  {{ this.getDataByShape(tooltipData)?.totalAgeGroup }}<br />
  Total Einwohner:
  {{ this.getDataByShape(tooltipData)?.total }}
</ng-template>

<ng-template #ageBucketTooltip let-tooltipData="data">
  <b>{{ tooltipData?.properties.name }} </b>
  <br />
  Kinderanteil:
  {{ this.getDataByShape(tooltipData)?.percentageAgeGroup | percent }} <br />
  Total Kinder:
  {{ this.getDataByShape(tooltipData)?.totalAgeGroup }}<br />
  Total Einwohner:
  {{ this.getDataByShape(tooltipData)?.total }}
</ng-template>

<p-card>
  <h1>Altersverteilung auf dem ganzen Kanton</h1>
  <p>Lirum larum Löffelstiel</p>
  <app-heatmap [id]="0"></app-heatmap>
</p-card>
